div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-md-12
      h1 
        | {{ group.name }}
      h2 Messages:
      ul
        li(ng-repeat="message in messages")
          | {{message._creator.name}} : {{ message.content }}
      form(name='form', ng-submit='messageAdd(form)')
        input(ng-model="form.content", type="text", placeholder="Message")
        input(type="submit")
div(ng-include='"components/footer/footer.html"')

