div(ng-include='"components/navbar/navbar.html"')
.col-md-12
    | This is the group view.
    ul
      li(ng-repeat="group in groups")
        {{ group.name }}
div(ng-include='"components/footer/footer.html"')
